@keyframes scroll_projects {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@keyframes respirar {
    0% {
        background-size: 50% 50%;
    }

    25% {
        background-size: 100% 100%;
    }

    50% {
        background-size: 150% 150%;
    }

    75% {
        background-size: 100% 100%;
    }

    100% {
        background-size: 50% 50%;
    }
}